ul {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: red;
    font-size: 1.1em;
}

.btn:hover {
    background-color: white;
    color: blue;
}

p {
    overflow: visible;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}
