.filter-block {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

ul.filters {
    background-color: darkblue;
    align-self: start;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

ul.filters li {
    display: inline-block;
    margin-left: 20px;
}

.arrow-img {
    width: 25px;
    height:25px;
    margin-left: 5px;
    rotate: -90deg;
}

.search-block {
    background-color: darkblue;
    width: 100%;
    position: relative;
    height: 70px;
}

.search-form {
    width: 300px;
    margin-left: 30px;
}